@charset "UTF-8";
body {
  *zoom: 1;
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
