@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1 {
  font-size: 2.45833rem;
  line-height: 3.125rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 2.45833rem;
  line-height: 3.125rem;
  margin-bottom: 0.41667rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

a:link, a:visited {
  color: #c0ebf9;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color: #acd3e0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 1rem;
}

ol,
ul {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

p {
  margin-bottom: 1rem;
}

html {
  font-size: 150%;
  line-height: 1.25em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  background: #1a4554;
  color: white;
  text-shadow: 0 1px 0 black, 0 0 0.20833rem black;
}

[role='main'] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  counter-reset: figures sections;
  display: none;
}
.instigate.is-gone-forever ~ [role='main'] {
  display: block;
}

.is-gone-forever {
  display: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.instigate {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: white;
  cursor: pointer;
  font: inherit;
}
.instigate:focus {
  outline: 0;
}

.instigate b, .prev,
.next {
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  border-radius: 0.625rem;
  display: inline-block;
  padding: 0.875rem 1.25rem;
}

.instigate b:hover, .instigate b:focus {
  -moz-transform: scale3d(1.2, 1.2, 0);
  -webkit-transform: scale3d(1.2, 1.2, 0);
  transform: scale3d(1.2, 1.2, 0);
}

.instigate:active b {
  -moz-box-shadow: 0 0 0.41667rem black inset;
  -webkit-box-shadow: 0 0 0.41667rem black inset;
  box-shadow: 0 0 0.41667rem black inset;
  -moz-transform: scale3d(0.75, 0.75, 0);
  -webkit-transform: scale3d(0.75, 0.75, 0);
  transform: scale3d(0.75, 0.75, 0);
}

.sound-and-fury {
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  z-index: -1;
}

.instigate {
  background: url('../images/trans/no-book.png?1402037582') scroll center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 900;
}
.instigate b {
  -moz-animation: DOITDOIDOIT 300ms steps(1) infinite;
  -webkit-animation: DOITDOIDOIT 300ms steps(1) infinite;
  animation: DOITDOIDOIT 300ms steps(1) infinite;
  background: url('../images/ui/doit.png?1402037582') scroll 50.11722% 38.02077%;
  -moz-background-size: 300% auto;
  -o-background-size: 300% auto;
  -webkit-background-size: 300% auto;
  background-size: 300% auto;
  border: 2px solid black;
  cursor: pointer;
  padding: 1.95833rem;
}
@media (min-width: 40em) {
  .instigate {
    font-size: 1.95833rem;
    line-height: 2.5rem;
  }
}

@-moz-keyframes DOITDOIDOIT {
  10% {
    background-position: 5.22841% 0.32416%;
  }

  20% {
    background-position: 71.50819% 13.44061%;
  }

  30% {
    background-position: 85.09501% 99.07792%;
  }

  40% {
    background-position: 12.50422% 25.1796%;
  }

  50% {
    background-position: 96.45975% 29.02191%;
  }

  60% {
    background-position: 79.58253% 80.93734%;
  }

  70% {
    background-position: 74.19252% 26.96834%;
  }

  80% {
    background-position: 88.1187% 0.98388%;
  }

  90% {
    background-position: 80.90405% 49.61697%;
  }

  100% {
    background-position: 52.2731% 7.67983%;
  }
}
@-webkit-keyframes DOITDOIDOIT {
  10% {
    background-position: 44.98005% 37.83216%;
  }

  20% {
    background-position: 69.11907% 48.92763%;
  }

  30% {
    background-position: 24.83787% 41.82932%;
  }

  40% {
    background-position: 39.10351% 81.32317%;
  }

  50% {
    background-position: 86.49456% 72.25814%;
  }

  60% {
    background-position: 83.54367% 90.50027%;
  }

  70% {
    background-position: 32.57066% 49.18644%;
  }

  80% {
    background-position: 44.77728% 81.63318%;
  }

  90% {
    background-position: 13.33233% 88.1037%;
  }

  100% {
    background-position: 45.54524% 48.84469%;
  }
}
@keyframes DOITDOIDOIT {
  10% {
    background-position: 72.9682% 42.00579%;
  }

  20% {
    background-position: 17.29449% 65.73529%;
  }

  30% {
    background-position: 25.6271% 40.44737%;
  }

  40% {
    background-position: 84.95749% 30.43835%;
  }

  50% {
    background-position: 1.97122% 44.24101%;
  }

  60% {
    background-position: 49.24412% 83.26095%;
  }

  70% {
    background-position: 7.16189% 31.08542%;
  }

  80% {
    background-position: 10.60799% 50.46815%;
  }

  90% {
    background-position: 87.53545% 33.93775%;
  }

  100% {
    background-position: 78.16298% 65.62344%;
  }
}
.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  z-index: -1;
}

.the-shitz {
  background: no-repeat scroll center;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex: 1;
  flex: 1;
  z-index: -1;
}
.the-shitz figcaption {
  counter-increment: figures;
  font-style: italic;
  position: relative;
  z-index: 600;
}
.the-shitz figcaption:before {
  content: "fig." counter(figures,decimal-leading-zero) " — ";
  font-style: normal;
}
.the-shitz figcaption:before, .the-shitz figcaption span {
  background: white;
  color: black;
  text-shadow: 0 0 0.41667rem white;
}
.the-shitz figcaption:before a:link, .the-shitz figcaption:before a:visited, .the-shitz figcaption span a:link, .the-shitz figcaption span a:visited {
  color: #48bde4;
}
.the-shitz figcaption:before a:hover, .the-shitz figcaption:before a:focus, .the-shitz figcaption:before a:active, .the-shitz figcaption span a:hover, .the-shitz figcaption span a:focus, .the-shitz figcaption span a:active {
  color: #3da0c1;
}

.section-title {
  counter-increment: sections;
}
.section-title:before {
  content: "part " counter(sections,decimal-leading-zero) ". ";
  text-transform: uppercase;
}

.prev,
.next {
  font-size: 1.95833rem;
  line-height: 2.5rem;
  -moz-transition: all 150ms 0, opacity 300ms 1s;
  -o-transition: all 150ms 0, opacity 300ms 1s;
  -webkit-transition: all 150ms 0, opacity 300ms;
  -webkit-transition-delay: 0s, 1s;
  transition: all 150ms 0, opacity 300ms 1s;
  cursor: pointer;
  opacity: 0;
  padding: 0 0.41667rem;
  position: absolute;
  z-index: 900;
}
.prev:hover, .prev:focus, .prev:active,
.next:hover,
.next:focus,
.next:active {
  -moz-animation: DOITDOIDOIT 300ms steps(1) infinite;
  -webkit-animation: DOITDOIDOIT 300ms steps(1) infinite;
  animation: DOITDOIDOIT 300ms steps(1) infinite;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  background-image: url('../images/ui/doit-green.png?1402178802');
  padding: 1.95833rem;
}
.prev b,
.next b {
  display: block;
}

.prev {
  left: 0;
}
.prev:hover, .prev:focus, .prev:active {
  background-image: url('../images/ui/doit.png?1402037582');
}

.next {
  right: 0;
}

.DOITDOIDOIT {
  -moz-animation: DOITDOIDOIT 300ms steps(1) infinite;
  -webkit-animation: DOITDOIDOIT 300ms steps(1) infinite;
  animation: DOITDOIDOIT 300ms steps(1) infinite;
  background: rgba(0, 0, 0, 0.125) url('../images/ui/doit.png?1402037582') scroll 17.49644% 83.16498%;
}

.start {
  -moz-transform: translate3d(-176%, 131%, 0);
  -webkit-transform: translate3d(-176%, 131%, 0);
  transform: translate3d(-176%, 131%, 0);
}
.start .prev {
  border-radius: 79.39548%;
  top: 59%;
}
.start .prev:hover, .start .prev:focus, .start .prev:active {
  border-radius: 24.48829%;
  padding: 1.9775rem 1.06941rem 1.89184rem 1.68578rem;
}
.start .next {
  border-radius: 8.40812%;
  top: 84%;
}
.start .next:hover, .start .next:focus, .start .next:active {
  border-radius: 18.82629%;
  padding: 0.19996rem 2.67508rem 0.38328rem 2.39482rem;
}

[id='start'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='start']:checked ~ .start {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='start']:checked ~ .start .prev,
[id='start']:checked ~ .start .next {
  opacity: 1;
}
[id='start']:checked ~ .start .prev {
  -moz-transform: rotate(19.0582deg);
  -ms-transform: rotate(19.0582deg);
  -webkit-transform: rotate(19.0582deg);
  transform: rotate(19.0582deg);
}
[id='start']:checked ~ .start .next {
  -moz-transform: rotate(15.75746deg);
  -ms-transform: rotate(15.75746deg);
  -webkit-transform: rotate(15.75746deg);
  transform: rotate(15.75746deg);
}

.maintitle {
  -moz-transform: translate3d(-144%, 108%, 0);
  -webkit-transform: translate3d(-144%, 108%, 0);
  transform: translate3d(-144%, 108%, 0);
}
.maintitle .prev {
  border-radius: 90.12636%;
  top: 30%;
}
.maintitle .prev:hover, .maintitle .prev:focus, .maintitle .prev:active {
  border-radius: 11.25283%;
  padding: 1.85444rem 0.82104rem 1.61634rem 3.22199rem;
}
.maintitle .next {
  border-radius: 59.74496%;
  top: 64%;
}
.maintitle .next:hover, .maintitle .next:focus, .maintitle .next:active {
  border-radius: 63.38783%;
  padding: 3.3441rem 0.72691rem 2.89522rem 3.63908rem;
}

[id='maintitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='maintitle']:checked ~ .maintitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='maintitle']:checked ~ .maintitle .prev,
[id='maintitle']:checked ~ .maintitle .next {
  opacity: 1;
}
[id='maintitle']:checked ~ .maintitle .prev {
  -moz-transform: rotate(-32.88722deg);
  -ms-transform: rotate(-32.88722deg);
  -webkit-transform: rotate(-32.88722deg);
  transform: rotate(-32.88722deg);
}
[id='maintitle']:checked ~ .maintitle .next {
  -moz-transform: rotate(-48.03045deg);
  -ms-transform: rotate(-48.03045deg);
  -webkit-transform: rotate(-48.03045deg);
  transform: rotate(-48.03045deg);
}

.booktitle {
  -moz-transform: translate3d(93%, 46%, 0);
  -webkit-transform: translate3d(93%, 46%, 0);
  transform: translate3d(93%, 46%, 0);
}
.booktitle .prev {
  border-radius: 38.97442%;
  top: 42%;
}
.booktitle .prev:hover, .booktitle .prev:focus, .booktitle .prev:active {
  border-radius: 34.07768%;
  padding: 1.85651rem 1.86368rem 1.07807rem 3.47239rem;
}
.booktitle .next {
  border-radius: 13.31062%;
  top: 64%;
}
.booktitle .next:hover, .booktitle .next:focus, .booktitle .next:active {
  border-radius: 40.93398%;
  padding: 2.73809rem 1.28219rem 3.04173rem 3.75338rem;
}

[id='booktitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='booktitle']:checked ~ .booktitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='booktitle']:checked ~ .booktitle .prev,
[id='booktitle']:checked ~ .booktitle .next {
  opacity: 1;
}
[id='booktitle']:checked ~ .booktitle .prev {
  -moz-transform: rotate(-11.50856deg);
  -ms-transform: rotate(-11.50856deg);
  -webkit-transform: rotate(-11.50856deg);
  transform: rotate(-11.50856deg);
}
[id='booktitle']:checked ~ .booktitle .next {
  -moz-transform: rotate(20.94372deg);
  -ms-transform: rotate(20.94372deg);
  -webkit-transform: rotate(20.94372deg);
  transform: rotate(20.94372deg);
}

.youtube {
  -moz-transform: translate3d(-55%, 101%, 0);
  -webkit-transform: translate3d(-55%, 101%, 0);
  transform: translate3d(-55%, 101%, 0);
}
.youtube .prev {
  border-radius: 83.38202%;
  top: 29.0%;
}
.youtube .prev:hover, .youtube .prev:focus, .youtube .prev:active {
  border-radius: 88.13009%;
  padding: 2.46555rem 1.4523rem 0.54307rem 2.2753rem;
}
.youtube .next {
  border-radius: 10.0832%;
  top: 12%;
}
.youtube .next:hover, .youtube .next:focus, .youtube .next:active {
  border-radius: 0.92209%;
  padding: 3.21633rem 1.3247rem 1.43483rem 0.93372rem;
}

[id='youtube'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='youtube']:checked ~ .youtube {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='youtube']:checked ~ .youtube .prev,
[id='youtube']:checked ~ .youtube .next {
  opacity: 1;
}
[id='youtube']:checked ~ .youtube .prev {
  -moz-transform: rotate(-50.96004deg);
  -ms-transform: rotate(-50.96004deg);
  -webkit-transform: rotate(-50.96004deg);
  transform: rotate(-50.96004deg);
}
[id='youtube']:checked ~ .youtube .next {
  -moz-transform: rotate(26.5988deg);
  -ms-transform: rotate(26.5988deg);
  -webkit-transform: rotate(26.5988deg);
  transform: rotate(26.5988deg);
}

.church {
  -moz-transform: translate3d(175%, -97%, 0);
  -webkit-transform: translate3d(175%, -97%, 0);
  transform: translate3d(175%, -97%, 0);
}
.church .prev {
  border-radius: 84.0794%;
  top: 36%;
}
.church .prev:hover, .church .prev:focus, .church .prev:active {
  border-radius: 45.91323%;
  padding: 2.07081rem 1.3832rem 0.69117rem 1.20964rem;
}
.church .next {
  border-radius: 50.90106%;
  top: 40%;
}
.church .next:hover, .church .next:focus, .church .next:active {
  border-radius: 42.98731%;
  padding: 0.3543rem 3.41413rem 0.94907rem 1.61125rem;
}

[id='church'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='church']:checked ~ .church {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='church']:checked ~ .church .prev,
[id='church']:checked ~ .church .next {
  opacity: 1;
}
[id='church']:checked ~ .church .prev {
  -moz-transform: rotate(-25.31857deg);
  -ms-transform: rotate(-25.31857deg);
  -webkit-transform: rotate(-25.31857deg);
  transform: rotate(-25.31857deg);
}
[id='church']:checked ~ .church .next {
  -moz-transform: rotate(31.46308deg);
  -ms-transform: rotate(31.46308deg);
  -webkit-transform: rotate(31.46308deg);
  transform: rotate(31.46308deg);
}

.magic {
  -moz-transform: translate3d(81%, 147%, 0);
  -webkit-transform: translate3d(81%, 147%, 0);
  transform: translate3d(81%, 147%, 0);
}
.magic .prev {
  border-radius: 32.90013%;
  top: 8%;
}
.magic .prev:hover, .magic .prev:focus, .magic .prev:active {
  border-radius: 54.26121%;
  padding: 1.3005rem 0.12421rem 1.34499rem 3.25441rem;
}
.magic .next {
  border-radius: 44.07573%;
  top: 77%;
}
.magic .next:hover, .magic .next:focus, .magic .next:active {
  border-radius: 95.59944%;
  padding: 2.95247rem 0.34883rem 0.89054rem 3.32357rem;
}

[id='magic'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='magic']:checked ~ .magic {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='magic']:checked ~ .magic .prev,
[id='magic']:checked ~ .magic .next {
  opacity: 1;
}
[id='magic']:checked ~ .magic .prev {
  -moz-transform: rotate(-51.87993deg);
  -ms-transform: rotate(-51.87993deg);
  -webkit-transform: rotate(-51.87993deg);
  transform: rotate(-51.87993deg);
}
[id='magic']:checked ~ .magic .next {
  -moz-transform: rotate(-89.85911deg);
  -ms-transform: rotate(-89.85911deg);
  -webkit-transform: rotate(-89.85911deg);
  transform: rotate(-89.85911deg);
}

.wordtitle {
  -moz-transform: translate3d(-175%, -178%, 0);
  -webkit-transform: translate3d(-175%, -178%, 0);
  transform: translate3d(-175%, -178%, 0);
}
.wordtitle .prev {
  border-radius: 73.51738%;
  top: 19%;
}
.wordtitle .prev:hover, .wordtitle .prev:focus, .wordtitle .prev:active {
  border-radius: 52.34645%;
  padding: 3.55041rem 3.67856rem 2.52335rem 0.73968rem;
}
.wordtitle .next {
  border-radius: 67.87892%;
  top: 60%;
}
.wordtitle .next:hover, .wordtitle .next:focus, .wordtitle .next:active {
  border-radius: 15.80402%;
  padding: 0.16484rem 2.53352rem 0.08041rem 2.17477rem;
}

[id='wordtitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='wordtitle']:checked ~ .wordtitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='wordtitle']:checked ~ .wordtitle .prev,
[id='wordtitle']:checked ~ .wordtitle .next {
  opacity: 1;
}
[id='wordtitle']:checked ~ .wordtitle .prev {
  -moz-transform: rotate(-30.11834deg);
  -ms-transform: rotate(-30.11834deg);
  -webkit-transform: rotate(-30.11834deg);
  transform: rotate(-30.11834deg);
}
[id='wordtitle']:checked ~ .wordtitle .next {
  -moz-transform: rotate(-34.46179deg);
  -ms-transform: rotate(-34.46179deg);
  -webkit-transform: rotate(-34.46179deg);
  transform: rotate(-34.46179deg);
}

.bone {
  -moz-transform: translate3d(-96%, -55%, 0);
  -webkit-transform: translate3d(-96%, -55%, 0);
  transform: translate3d(-96%, -55%, 0);
}
.bone .prev {
  border-radius: 19.20565%;
  top: 40%;
}
.bone .prev:hover, .bone .prev:focus, .bone .prev:active {
  border-radius: 96.30159%;
  padding: 0.63479rem 2.53132rem 2.46936rem 1.70708rem;
}
.bone .next {
  border-radius: 41.7012%;
  top: 4%;
}
.bone .next:hover, .bone .next:focus, .bone .next:active {
  border-radius: 73.78869%;
  padding: 1.72739rem 2.15198rem 3.06065rem 2.82118rem;
}

[id='bone'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='bone']:checked ~ .bone {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='bone']:checked ~ .bone .prev,
[id='bone']:checked ~ .bone .next {
  opacity: 1;
}
[id='bone']:checked ~ .bone .prev {
  -moz-transform: rotate(52.49906deg);
  -ms-transform: rotate(52.49906deg);
  -webkit-transform: rotate(52.49906deg);
  transform: rotate(52.49906deg);
}
[id='bone']:checked ~ .bone .next {
  -moz-transform: rotate(-69.7546deg);
  -ms-transform: rotate(-69.7546deg);
  -webkit-transform: rotate(-69.7546deg);
  transform: rotate(-69.7546deg);
}

.definitiontitle {
  -moz-transform: translate3d(-46%, 173%, 0);
  -webkit-transform: translate3d(-46%, 173%, 0);
  transform: translate3d(-46%, 173%, 0);
}
.definitiontitle .prev {
  border-radius: 47.39805%;
  top: 37%;
}
.definitiontitle .prev:hover, .definitiontitle .prev:focus, .definitiontitle .prev:active {
  border-radius: 15.96815%;
  padding: 2.70289rem 3.50896rem 2.45177rem 2.56481rem;
}
.definitiontitle .next {
  border-radius: 60.63898%;
  top: 65%;
}
.definitiontitle .next:hover, .definitiontitle .next:focus, .definitiontitle .next:active {
  border-radius: 50.929%;
  padding: 1.69739rem 0.13707rem 0.49974rem 0.45256rem;
}

[id='definitiontitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='definitiontitle']:checked ~ .definitiontitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='definitiontitle']:checked ~ .definitiontitle .prev,
[id='definitiontitle']:checked ~ .definitiontitle .next {
  opacity: 1;
}
[id='definitiontitle']:checked ~ .definitiontitle .prev {
  -moz-transform: rotate(1.32139deg);
  -ms-transform: rotate(1.32139deg);
  -webkit-transform: rotate(1.32139deg);
  transform: rotate(1.32139deg);
}
[id='definitiontitle']:checked ~ .definitiontitle .next {
  -moz-transform: rotate(-13.95852deg);
  -ms-transform: rotate(-13.95852deg);
  -webkit-transform: rotate(-13.95852deg);
  transform: rotate(-13.95852deg);
}

.maginot {
  -moz-transform: translate3d(172%, -106%, 0);
  -webkit-transform: translate3d(172%, -106%, 0);
  transform: translate3d(172%, -106%, 0);
}
.maginot .prev {
  border-radius: 58.67594%;
  top: 38%;
}
.maginot .prev:hover, .maginot .prev:focus, .maginot .prev:active {
  border-radius: 61.93453%;
  padding: 2.97727rem 3.29847rem 0.0266rem 0.31671rem;
}
.maginot .next {
  border-radius: 37.17279%;
  top: 24%;
}
.maginot .next:hover, .maginot .next:focus, .maginot .next:active {
  border-radius: 66.68717%;
  padding: 2.81391rem 2.25356rem 1.21247rem 1.35472rem;
}

[id='maginot'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='maginot']:checked ~ .maginot {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='maginot']:checked ~ .maginot .prev,
[id='maginot']:checked ~ .maginot .next {
  opacity: 1;
}
[id='maginot']:checked ~ .maginot .prev {
  -moz-transform: rotate(-44.33144deg);
  -ms-transform: rotate(-44.33144deg);
  -webkit-transform: rotate(-44.33144deg);
  transform: rotate(-44.33144deg);
}
[id='maginot']:checked ~ .maginot .next {
  -moz-transform: rotate(42.43786deg);
  -ms-transform: rotate(42.43786deg);
  -webkit-transform: rotate(42.43786deg);
  transform: rotate(42.43786deg);
}

.fan {
  -moz-transform: translate3d(19%, 114%, 0);
  -webkit-transform: translate3d(19%, 114%, 0);
  transform: translate3d(19%, 114%, 0);
}
.fan .prev {
  border-radius: 40.6688%;
  top: 89%;
}
.fan .prev:hover, .fan .prev:focus, .fan .prev:active {
  border-radius: 93.94938%;
  padding: 1.60651rem 2.65564rem 1.24094rem 2.71341rem;
}
.fan .next {
  border-radius: 82.19516%;
  top: 88%;
}
.fan .next:hover, .fan .next:focus, .fan .next:active {
  border-radius: 95.14685%;
  padding: 2.78083rem 2.9463rem 2.81902rem 1.57042rem;
}

[id='fan'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='fan']:checked ~ .fan {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='fan']:checked ~ .fan .prev,
[id='fan']:checked ~ .fan .next {
  opacity: 1;
}
[id='fan']:checked ~ .fan .prev {
  -moz-transform: rotate(34.14722deg);
  -ms-transform: rotate(34.14722deg);
  -webkit-transform: rotate(34.14722deg);
  transform: rotate(34.14722deg);
}
[id='fan']:checked ~ .fan .next {
  -moz-transform: rotate(66.08068deg);
  -ms-transform: rotate(66.08068deg);
  -webkit-transform: rotate(66.08068deg);
  transform: rotate(66.08068deg);
}

.meaningtitle {
  -moz-transform: translate3d(98%, -113%, 0);
  -webkit-transform: translate3d(98%, -113%, 0);
  transform: translate3d(98%, -113%, 0);
}
.meaningtitle .prev {
  border-radius: 86.70291%;
  top: 42%;
}
.meaningtitle .prev:hover, .meaningtitle .prev:focus, .meaningtitle .prev:active {
  border-radius: 5.47879%;
  padding: 2.92853rem 1.44696rem 2.05186rem 1.12724rem;
}
.meaningtitle .next {
  border-radius: 14.37353%;
  top: 23%;
}
.meaningtitle .next:hover, .meaningtitle .next:focus, .meaningtitle .next:active {
  border-radius: 55.24985%;
  padding: 3.25597rem 0.0488rem 2.2094rem 1.1546rem;
}

[id='meaningtitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='meaningtitle']:checked ~ .meaningtitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='meaningtitle']:checked ~ .meaningtitle .prev,
[id='meaningtitle']:checked ~ .meaningtitle .next {
  opacity: 1;
}
[id='meaningtitle']:checked ~ .meaningtitle .prev {
  -moz-transform: rotate(-54.01334deg);
  -ms-transform: rotate(-54.01334deg);
  -webkit-transform: rotate(-54.01334deg);
  transform: rotate(-54.01334deg);
}
[id='meaningtitle']:checked ~ .meaningtitle .next {
  -moz-transform: rotate(-18.86048deg);
  -ms-transform: rotate(-18.86048deg);
  -webkit-transform: rotate(-18.86048deg);
  transform: rotate(-18.86048deg);
}

.snail {
  -moz-transform: translate3d(58%, 181%, 0);
  -webkit-transform: translate3d(58%, 181%, 0);
  transform: translate3d(58%, 181%, 0);
}
.snail .prev {
  border-radius: 15.2369%;
  top: 73%;
}
.snail .prev:hover, .snail .prev:focus, .snail .prev:active {
  border-radius: 35.60254%;
  padding: 1.85716rem 2.29717rem 3.82837rem 2.18797rem;
}
.snail .next {
  border-radius: 69.57471%;
  top: 45%;
}
.snail .next:hover, .snail .next:focus, .snail .next:active {
  border-radius: 46.4162%;
  padding: 0.35583rem 3.12758rem 1.69076rem 1.06477rem;
}

[id='snail'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='snail']:checked ~ .snail {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='snail']:checked ~ .snail .prev,
[id='snail']:checked ~ .snail .next {
  opacity: 1;
}
[id='snail']:checked ~ .snail .prev {
  -moz-transform: rotate(72.43352deg);
  -ms-transform: rotate(72.43352deg);
  -webkit-transform: rotate(72.43352deg);
  transform: rotate(72.43352deg);
}
[id='snail']:checked ~ .snail .next {
  -moz-transform: rotate(65.62094deg);
  -ms-transform: rotate(65.62094deg);
  -webkit-transform: rotate(65.62094deg);
  transform: rotate(65.62094deg);
}

.pentitle {
  -moz-transform: translate3d(100%, 176%, 0);
  -webkit-transform: translate3d(100%, 176%, 0);
  transform: translate3d(100%, 176%, 0);
}
.pentitle .prev {
  border-radius: 89.05719%;
  top: 13%;
}
.pentitle .prev:hover, .pentitle .prev:focus, .pentitle .prev:active {
  border-radius: 66.31569%;
  padding: 2.72518rem 3.10134rem 0.21185rem 3.59383rem;
}
.pentitle .next {
  border-radius: 77.61664%;
  top: 84%;
}
.pentitle .next:hover, .pentitle .next:focus, .pentitle .next:active {
  border-radius: 48.92806%;
  padding: 1.68396rem 2.71668rem 1.80818rem 2.62887rem;
}

[id='pentitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='pentitle']:checked ~ .pentitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='pentitle']:checked ~ .pentitle .prev,
[id='pentitle']:checked ~ .pentitle .next {
  opacity: 1;
}
[id='pentitle']:checked ~ .pentitle .prev {
  -moz-transform: rotate(6.72562deg);
  -ms-transform: rotate(6.72562deg);
  -webkit-transform: rotate(6.72562deg);
  transform: rotate(6.72562deg);
}
[id='pentitle']:checked ~ .pentitle .next {
  -moz-transform: rotate(-26.03103deg);
  -ms-transform: rotate(-26.03103deg);
  -webkit-transform: rotate(-26.03103deg);
  transform: rotate(-26.03103deg);
}

.fountainpen {
  -moz-transform: translate3d(107%, 116%, 0);
  -webkit-transform: translate3d(107%, 116%, 0);
  transform: translate3d(107%, 116%, 0);
}
.fountainpen .prev {
  border-radius: 47.0101%;
  top: 14.0%;
}
.fountainpen .prev:hover, .fountainpen .prev:focus, .fountainpen .prev:active {
  border-radius: 78.38797%;
  padding: 1.49733rem 1.32243rem 1.53256rem 2.15412rem;
}
.fountainpen .next {
  border-radius: 18.86817%;
  top: 42%;
}
.fountainpen .next:hover, .fountainpen .next:focus, .fountainpen .next:active {
  border-radius: 3.84189%;
  padding: 1.95938rem 0.51835rem 0.1875rem 3.46979rem;
}

[id='fountainpen'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='fountainpen']:checked ~ .fountainpen {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='fountainpen']:checked ~ .fountainpen .prev,
[id='fountainpen']:checked ~ .fountainpen .next {
  opacity: 1;
}
[id='fountainpen']:checked ~ .fountainpen .prev {
  -moz-transform: rotate(-63.53484deg);
  -ms-transform: rotate(-63.53484deg);
  -webkit-transform: rotate(-63.53484deg);
  transform: rotate(-63.53484deg);
}
[id='fountainpen']:checked ~ .fountainpen .next {
  -moz-transform: rotate(-70.08881deg);
  -ms-transform: rotate(-70.08881deg);
  -webkit-transform: rotate(-70.08881deg);
  transform: rotate(-70.08881deg);
}

.obsoletetitle {
  -moz-transform: translate3d(24%, -150%, 0);
  -webkit-transform: translate3d(24%, -150%, 0);
  transform: translate3d(24%, -150%, 0);
}
.obsoletetitle .prev {
  border-radius: 58.33537%;
  top: 66%;
}
.obsoletetitle .prev:hover, .obsoletetitle .prev:focus, .obsoletetitle .prev:active {
  border-radius: 41.72247%;
  padding: 1.22406rem 2.89259rem 1.9546rem 3.70778rem;
}
.obsoletetitle .next {
  border-radius: 80.31306%;
  top: 60%;
}
.obsoletetitle .next:hover, .obsoletetitle .next:focus, .obsoletetitle .next:active {
  border-radius: 78.40585%;
  padding: 2.188rem 0.68913rem 0.45002rem 3.78394rem;
}

[id='obsoletetitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='obsoletetitle']:checked ~ .obsoletetitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='obsoletetitle']:checked ~ .obsoletetitle .prev,
[id='obsoletetitle']:checked ~ .obsoletetitle .next {
  opacity: 1;
}
[id='obsoletetitle']:checked ~ .obsoletetitle .prev {
  -moz-transform: rotate(-12.21841deg);
  -ms-transform: rotate(-12.21841deg);
  -webkit-transform: rotate(-12.21841deg);
  transform: rotate(-12.21841deg);
}
[id='obsoletetitle']:checked ~ .obsoletetitle .next {
  -moz-transform: rotate(14.53925deg);
  -ms-transform: rotate(14.53925deg);
  -webkit-transform: rotate(14.53925deg);
  transform: rotate(14.53925deg);
}

.abacus {
  -moz-transform: translate3d(-139%, 75%, 0);
  -webkit-transform: translate3d(-139%, 75%, 0);
  transform: translate3d(-139%, 75%, 0);
}
.abacus .prev {
  border-radius: 19.07268%;
  top: 82%;
}
.abacus .prev:hover, .abacus .prev:focus, .abacus .prev:active {
  border-radius: 53.57339%;
  padding: 0.0824rem 2.26195rem 1.39901rem 3.06633rem;
}
.abacus .next {
  border-radius: 38.01678%;
  top: 75%;
}
.abacus .next:hover, .abacus .next:focus, .abacus .next:active {
  border-radius: 18.41125%;
  padding: 3.0097rem 1.1965rem 2.69173rem 1.20153rem;
}

[id='abacus'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='abacus']:checked ~ .abacus {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='abacus']:checked ~ .abacus .prev,
[id='abacus']:checked ~ .abacus .next {
  opacity: 1;
}
[id='abacus']:checked ~ .abacus .prev {
  -moz-transform: rotate(-85.60938deg);
  -ms-transform: rotate(-85.60938deg);
  -webkit-transform: rotate(-85.60938deg);
  transform: rotate(-85.60938deg);
}
[id='abacus']:checked ~ .abacus .next {
  -moz-transform: rotate(2.54597deg);
  -ms-transform: rotate(2.54597deg);
  -webkit-transform: rotate(2.54597deg);
  transform: rotate(2.54597deg);
}

.sorrytitle {
  -moz-transform: translate3d(-170%, -44%, 0);
  -webkit-transform: translate3d(-170%, -44%, 0);
  transform: translate3d(-170%, -44%, 0);
}
.sorrytitle .prev {
  border-radius: 23.93417%;
  top: 6%;
}
.sorrytitle .prev:hover, .sorrytitle .prev:focus, .sorrytitle .prev:active {
  border-radius: 61.39627%;
  padding: 0.06121rem 0.30954rem 1.6189rem 0.63333rem;
}
.sorrytitle .next {
  border-radius: 43.77782%;
  top: 7.0%;
}
.sorrytitle .next:hover, .sorrytitle .next:focus, .sorrytitle .next:active {
  border-radius: 48.75644%;
  padding: 0.76911rem 3.71771rem 2.83691rem 1.09537rem;
}

[id='sorrytitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='sorrytitle']:checked ~ .sorrytitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='sorrytitle']:checked ~ .sorrytitle .prev,
[id='sorrytitle']:checked ~ .sorrytitle .next {
  opacity: 1;
}
[id='sorrytitle']:checked ~ .sorrytitle .prev {
  -moz-transform: rotate(-89.70031deg);
  -ms-transform: rotate(-89.70031deg);
  -webkit-transform: rotate(-89.70031deg);
  transform: rotate(-89.70031deg);
}
[id='sorrytitle']:checked ~ .sorrytitle .next {
  -moz-transform: rotate(-72.6768deg);
  -ms-transform: rotate(-72.6768deg);
  -webkit-transform: rotate(-72.6768deg);
  transform: rotate(-72.6768deg);
}

.lathe {
  -moz-transform: translate3d(41%, 94%, 0);
  -webkit-transform: translate3d(41%, 94%, 0);
  transform: translate3d(41%, 94%, 0);
}
.lathe .prev {
  border-radius: 35.58486%;
  top: 8%;
}
.lathe .prev:hover, .lathe .prev:focus, .lathe .prev:active {
  border-radius: 54.11724%;
  padding: 0.24987rem 1.83329rem 3.74016rem 2.92847rem;
}
.lathe .next {
  border-radius: 35.47148%;
  top: 29.0%;
}
.lathe .next:hover, .lathe .next:focus, .lathe .next:active {
  border-radius: 72.10951%;
  padding: 0.32441rem 1.77813rem 1.48674rem 0.00948rem;
}

[id='lathe'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='lathe']:checked ~ .lathe {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='lathe']:checked ~ .lathe .prev,
[id='lathe']:checked ~ .lathe .next {
  opacity: 1;
}
[id='lathe']:checked ~ .lathe .prev {
  -moz-transform: rotate(63.63547deg);
  -ms-transform: rotate(63.63547deg);
  -webkit-transform: rotate(63.63547deg);
  transform: rotate(63.63547deg);
}
[id='lathe']:checked ~ .lathe .next {
  -moz-transform: rotate(-30.37109deg);
  -ms-transform: rotate(-30.37109deg);
  -webkit-transform: rotate(-30.37109deg);
  transform: rotate(-30.37109deg);
}

.cloudtitle {
  -moz-transform: translate3d(66%, 131%, 0);
  -webkit-transform: translate3d(66%, 131%, 0);
  transform: translate3d(66%, 131%, 0);
}
.cloudtitle .prev {
  border-radius: 61.73857%;
  top: 54%;
}
.cloudtitle .prev:hover, .cloudtitle .prev:focus, .cloudtitle .prev:active {
  border-radius: 6.69676%;
  padding: 1.67533rem 2.88449rem 3.43441rem 0.76656rem;
}
.cloudtitle .next {
  border-radius: 76.49953%;
  top: 28.0%;
}
.cloudtitle .next:hover, .cloudtitle .next:focus, .cloudtitle .next:active {
  border-radius: 55.86877%;
  padding: 0.2624rem 3.09975rem 2.20723rem 1.71647rem;
}

[id='cloudtitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='cloudtitle']:checked ~ .cloudtitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='cloudtitle']:checked ~ .cloudtitle .prev,
[id='cloudtitle']:checked ~ .cloudtitle .next {
  opacity: 1;
}
[id='cloudtitle']:checked ~ .cloudtitle .prev {
  -moz-transform: rotate(78.44379deg);
  -ms-transform: rotate(78.44379deg);
  -webkit-transform: rotate(78.44379deg);
  transform: rotate(78.44379deg);
}
[id='cloudtitle']:checked ~ .cloudtitle .next {
  -moz-transform: rotate(58.06909deg);
  -ms-transform: rotate(58.06909deg);
  -webkit-transform: rotate(58.06909deg);
  transform: rotate(58.06909deg);
}

.play {
  -moz-transform: translate3d(105%, 161%, 0);
  -webkit-transform: translate3d(105%, 161%, 0);
  transform: translate3d(105%, 161%, 0);
}
.play .prev {
  border-radius: 47.93863%;
  top: 1%;
}
.play .prev:hover, .play .prev:focus, .play .prev:active {
  border-radius: 97.57514%;
  padding: 1.62339rem 2.61144rem 0.75808rem 0.01415rem;
}
.play .next {
  border-radius: 96.71215%;
  top: 14.0%;
}
.play .next:hover, .play .next:focus, .play .next:active {
  border-radius: 8.96092%;
  padding: 2.21013rem 1.56383rem 1.07387rem 1.4056rem;
}

[id='play'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='play']:checked ~ .play {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='play']:checked ~ .play .prev,
[id='play']:checked ~ .play .next {
  opacity: 1;
}
[id='play']:checked ~ .play .prev {
  -moz-transform: rotate(-12.7035deg);
  -ms-transform: rotate(-12.7035deg);
  -webkit-transform: rotate(-12.7035deg);
  transform: rotate(-12.7035deg);
}
[id='play']:checked ~ .play .next {
  -moz-transform: rotate(-79.07989deg);
  -ms-transform: rotate(-79.07989deg);
  -webkit-transform: rotate(-79.07989deg);
  transform: rotate(-79.07989deg);
}

.farm {
  -moz-transform: translate3d(-57%, -132%, 0);
  -webkit-transform: translate3d(-57%, -132%, 0);
  transform: translate3d(-57%, -132%, 0);
}
.farm .prev {
  border-radius: 42.54539%;
  top: 37%;
}
.farm .prev:hover, .farm .prev:focus, .farm .prev:active {
  border-radius: 0.36901%;
  padding: 0.582rem 0.23667rem 3.69894rem 1.09133rem;
}
.farm .next {
  border-radius: 72.47039%;
  top: 33%;
}
.farm .next:hover, .farm .next:focus, .farm .next:active {
  border-radius: 89.46984%;
  padding: 2.27071rem 1.51366rem 0.15375rem 1.9913rem;
}

[id='farm'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='farm']:checked ~ .farm {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='farm']:checked ~ .farm .prev,
[id='farm']:checked ~ .farm .next {
  opacity: 1;
}
[id='farm']:checked ~ .farm .prev {
  -moz-transform: rotate(-81.9695deg);
  -ms-transform: rotate(-81.9695deg);
  -webkit-transform: rotate(-81.9695deg);
  transform: rotate(-81.9695deg);
}
[id='farm']:checked ~ .farm .next {
  -moz-transform: rotate(32.21797deg);
  -ms-transform: rotate(32.21797deg);
  -webkit-transform: rotate(32.21797deg);
  transform: rotate(32.21797deg);
}

.architecturetitle {
  -moz-transform: translate3d(147%, 35%, 0);
  -webkit-transform: translate3d(147%, 35%, 0);
  transform: translate3d(147%, 35%, 0);
}
.architecturetitle .prev {
  border-radius: 96.1877%;
  top: 63%;
}
.architecturetitle .prev:hover, .architecturetitle .prev:focus, .architecturetitle .prev:active {
  border-radius: 40.14081%;
  padding: 2.95041rem 2.16445rem 2.43732rem 0.23857rem;
}
.architecturetitle .next {
  border-radius: 43.19054%;
  top: 1%;
}
.architecturetitle .next:hover, .architecturetitle .next:focus, .architecturetitle .next:active {
  border-radius: 90.89402%;
  padding: 1.57544rem 1.20023rem 1.97947rem 3.06603rem;
}

[id='architecturetitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='architecturetitle']:checked ~ .architecturetitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='architecturetitle']:checked ~ .architecturetitle .prev,
[id='architecturetitle']:checked ~ .architecturetitle .next {
  opacity: 1;
}
[id='architecturetitle']:checked ~ .architecturetitle .prev {
  -moz-transform: rotate(34.51873deg);
  -ms-transform: rotate(34.51873deg);
  -webkit-transform: rotate(34.51873deg);
  transform: rotate(34.51873deg);
}
[id='architecturetitle']:checked ~ .architecturetitle .next {
  -moz-transform: rotate(40.74171deg);
  -ms-transform: rotate(40.74171deg);
  -webkit-transform: rotate(40.74171deg);
  transform: rotate(40.74171deg);
}

.handshake {
  -moz-transform: translate3d(25%, 67%, 0);
  -webkit-transform: translate3d(25%, 67%, 0);
  transform: translate3d(25%, 67%, 0);
}
.handshake .prev {
  border-radius: 37.24484%;
  top: 67%;
}
.handshake .prev:hover, .handshake .prev:focus, .handshake .prev:active {
  border-radius: 4.90792%;
  padding: 0.4758rem 3.68249rem 3.70449rem 0.08164rem;
}
.handshake .next {
  border-radius: 9.48795%;
  top: 51%;
}
.handshake .next:hover, .handshake .next:focus, .handshake .next:active {
  border-radius: 75.79885%;
  padding: 2.8128rem 0.36694rem 1.55711rem 1.01959rem;
}

[id='handshake'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='handshake']:checked ~ .handshake {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='handshake']:checked ~ .handshake .prev,
[id='handshake']:checked ~ .handshake .next {
  opacity: 1;
}
[id='handshake']:checked ~ .handshake .prev {
  -moz-transform: rotate(71.76776deg);
  -ms-transform: rotate(71.76776deg);
  -webkit-transform: rotate(71.76776deg);
  transform: rotate(71.76776deg);
}
[id='handshake']:checked ~ .handshake .next {
  -moz-transform: rotate(53.65607deg);
  -ms-transform: rotate(53.65607deg);
  -webkit-transform: rotate(53.65607deg);
  transform: rotate(53.65607deg);
}

.ritualtitle {
  -moz-transform: translate3d(-68%, 148%, 0);
  -webkit-transform: translate3d(-68%, 148%, 0);
  transform: translate3d(-68%, 148%, 0);
}
.ritualtitle .prev {
  border-radius: 32.47017%;
  top: 64%;
}
.ritualtitle .prev:hover, .ritualtitle .prev:focus, .ritualtitle .prev:active {
  border-radius: 96.09729%;
  padding: 2.00304rem 0.00145rem 1.51105rem 3.09735rem;
}
.ritualtitle .next {
  border-radius: 45.46937%;
  top: 70%;
}
.ritualtitle .next:hover, .ritualtitle .next:focus, .ritualtitle .next:active {
  border-radius: 91.79575%;
  padding: 3.46227rem 0.60593rem 3.29199rem 1.76099rem;
}

[id='ritualtitle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='ritualtitle']:checked ~ .ritualtitle {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='ritualtitle']:checked ~ .ritualtitle .prev,
[id='ritualtitle']:checked ~ .ritualtitle .next {
  opacity: 1;
}
[id='ritualtitle']:checked ~ .ritualtitle .prev {
  -moz-transform: rotate(63.63581deg);
  -ms-transform: rotate(63.63581deg);
  -webkit-transform: rotate(63.63581deg);
  transform: rotate(63.63581deg);
}
[id='ritualtitle']:checked ~ .ritualtitle .next {
  -moz-transform: rotate(45.85443deg);
  -ms-transform: rotate(45.85443deg);
  -webkit-transform: rotate(45.85443deg);
  transform: rotate(45.85443deg);
}

.dance {
  -moz-transform: translate3d(-9%, 186%, 0);
  -webkit-transform: translate3d(-9%, 186%, 0);
  transform: translate3d(-9%, 186%, 0);
}
.dance .prev {
  border-radius: 44.12612%;
  top: 7.0%;
}
.dance .prev:hover, .dance .prev:focus, .dance .prev:active {
  border-radius: 61.95766%;
  padding: 1.58547rem 3.43645rem 0.96782rem 2.70693rem;
}
.dance .next {
  border-radius: 52.32779%;
  top: 64%;
}
.dance .next:hover, .dance .next:focus, .dance .next:active {
  border-radius: 34.39862%;
  padding: 0.85132rem 0.32297rem 0.62949rem 3.75719rem;
}

[id='dance'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='dance']:checked ~ .dance {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='dance']:checked ~ .dance .prev,
[id='dance']:checked ~ .dance .next {
  opacity: 1;
}
[id='dance']:checked ~ .dance .prev {
  -moz-transform: rotate(-8.79156deg);
  -ms-transform: rotate(-8.79156deg);
  -webkit-transform: rotate(-8.79156deg);
  transform: rotate(-8.79156deg);
}
[id='dance']:checked ~ .dance .next {
  -moz-transform: rotate(45.02547deg);
  -ms-transform: rotate(45.02547deg);
  -webkit-transform: rotate(45.02547deg);
  transform: rotate(45.02547deg);
}

.dogs {
  -moz-transform: translate3d(198%, 184%, 0);
  -webkit-transform: translate3d(198%, 184%, 0);
  transform: translate3d(198%, 184%, 0);
}
.dogs .prev {
  border-radius: 67.70008%;
  top: 32%;
}
.dogs .prev:hover, .dogs .prev:focus, .dogs .prev:active {
  border-radius: 82.07435%;
  padding: 0.32063rem 2.69413rem 1.53008rem 2.73781rem;
}
.dogs .next {
  border-radius: 44.28218%;
  top: 51%;
}
.dogs .next:hover, .dogs .next:focus, .dogs .next:active {
  border-radius: 10.15524%;
  padding: 0.22521rem 3.4737rem 2.69572rem 1.45315rem;
}

[id='dogs'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='dogs']:checked ~ .dogs {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='dogs']:checked ~ .dogs .prev,
[id='dogs']:checked ~ .dogs .next {
  opacity: 1;
}
[id='dogs']:checked ~ .dogs .prev {
  -moz-transform: rotate(-65.29928deg);
  -ms-transform: rotate(-65.29928deg);
  -webkit-transform: rotate(-65.29928deg);
  transform: rotate(-65.29928deg);
}
[id='dogs']:checked ~ .dogs .next {
  -moz-transform: rotate(-69.13856deg);
  -ms-transform: rotate(-69.13856deg);
  -webkit-transform: rotate(-69.13856deg);
  transform: rotate(-69.13856deg);
}

.trans {
  -moz-transform: translate3d(179%, 167%, 0);
  -webkit-transform: translate3d(179%, 167%, 0);
  transform: translate3d(179%, 167%, 0);
}
.trans .prev {
  border-radius: 61.9402%;
  top: 76%;
}
.trans .prev:hover, .trans .prev:focus, .trans .prev:active {
  border-radius: 6.06581%;
  padding: 3.26533rem 0.64221rem 0.44977rem 0.17303rem;
}
.trans .next {
  border-radius: 29.06056%;
  top: 72%;
}
.trans .next:hover, .trans .next:focus, .trans .next:active {
  border-radius: 67.65586%;
  padding: 0.73738rem 3.71806rem 3.77224rem 0.14247rem;
}

[id='trans'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='trans']:checked ~ .trans {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 500;
}
[id='trans']:checked ~ .trans .prev,
[id='trans']:checked ~ .trans .next {
  opacity: 1;
}
[id='trans']:checked ~ .trans .prev {
  -moz-transform: rotate(-45.89262deg);
  -ms-transform: rotate(-45.89262deg);
  -webkit-transform: rotate(-45.89262deg);
  transform: rotate(-45.89262deg);
}
[id='trans']:checked ~ .trans .next {
  -moz-transform: rotate(22.70427deg);
  -ms-transform: rotate(22.70427deg);
  -webkit-transform: rotate(22.70427deg);
  transform: rotate(22.70427deg);
}

.maintitle .the-shitz {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.maintitle p {
  font-style: italic;
}

[for='narration-toggle'] {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/ui/ear.png?1402260878');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center;
  bottom: 0;
  height: 1rem;
  left: 0;
  position: absolute;
  width: 1rem;
}
[for='narration-toggle']:hover + .narration {
  display: block;
}

.narration {
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  display: none;
  max-height: 80%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 600;
}
.narration span {
  background: rgba(255, 0, 0, 0.25);
}

[id='narration-toggle'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id='narration-toggle']:checked ~ [role='main'] .narration {
  display: block;
}

.tooltip-text {
  font-size: 1.95833rem;
  line-height: 2.5rem;
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: none !important;
  color: white !important;
  display: none;
  font-style: normal;
  left: 50%;
  position: fixed;
  text-shadow: none !important;
  top: 50%;
  z-index: 800;
}
.tooltip-text i {
  background: black;
}

.tooltip {
  display: inline-block;
}
.tooltip:hover {
  text-decoration: line-through;
}
.tooltip:hover .tooltip-text {
  display: inline;
}

.shhhhhhhh {
  font-size: 2.45833rem;
  line-height: 3.125rem;
  display: none;
  padding: 2.45833rem;
  position: absolute;
  top: 0;
  z-index: 1000;
}
.shhhhhhhh span {
  background: black;
}

[for='wtf'] {
  font-size: 0.625rem;
  line-height: 1.25rem;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: 0.41667rem;
  text-transform: uppercase;
  z-index: 1000;
}
[for='wtf']:hover ~ .shhhhhhhh {
  display: block;
}

[id="wtf"] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
[id="wtf"]:checked ~ .shhhhhhhh {
  display: block;
}
