@charset "UTF-8";
html {
  counter-reset: figures;
}

iframe[src*="youtube"] {
  width: 39em;
  height: 29.25em;
  max-width: 100%;
}

figure {
  border: 1px dotted;
  margin: 0 0 1em 0;
  padding: 1.5em;
  background: #eee;
  text-align: center;
}
figure img {
  margin-bottom: 1em;
}

figcaption {
  font-style: italic;
  text-align: left;
}
figcaption em {
  font-weight: bold;
}
figcaption:before {
  content: "fig." counter(figures);
  font-weight: bold;
}

[id^="fig"] {
  counter-increment: figures;
}

img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid;
  background: white;
}

body {
  *zoom: 1;
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  margin-top: 0;
  border-top: .5em solid;
  background: white;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

[role="banner"] {
  padding-top: 23.875em;
  background: url('../img/no-book.png?1340920037') no-repeat scroll center 1em;
}
[role="banner"] p {
  font-style: italic;
}

[role="main"] {
  counter-reset: main;
}
[role="main"] h2 {
  margin-top: 2.25em;
  padding-top: .5em;
  border-top: .25em solid;
}
[role="main"] h2:before {
  counter-increment: main;
  content: "Part " counter(main, decimal-leading-zero) " // ";
  font-weight: normal;
}

[role="contentinfo"] {
  margin-top: 6em;
  border-top: .5em solid;
}
