// ---------------------------------------------------------------------------
// Type Settings

$base-font-size             : $normpx;
$base-line-height           : $medpx;

$rhythm-unit                : rem;
$rem-with-px-fallback       : false;

$relative-font-sizing       : true;
$round-to-nearest-half-line : true;
