//-----------------------------------------------------------------------------
// Layout

body {
  @include pie-clearfix;
  @include container;
  @include susy-grid-background;
  margin-top: 0;
  border-top: .5em solid red;
  background: white;
}
