// Root
// ====

@import "compass/reset";

* { @include box-sizing(border-box); }

html { height: 100%; }

h1 {
  @include adjust-font-size-to($xlargepx);
  font-weight: bold;
}

// Variables
// ---------

$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';

// Media
// -----

.media {
  @include fluid-ratio;
  border: 1px solid;
}

