//-----------------------------------------------------------------------------
// Variables

$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';

html {
  counter-reset: figures;
}

iframe[src*="youtube"] {
  width: 39em;
  height: 29.25em;
  max-width: 100%;
}

figure {
  border: 1px dotted;
  margin: 0;
  padding: 1.5em;
  background: #eee;
  text-align: center;
  img { margin-bottom: 1em; }
}

figcaption {
  font-style: italic;
  text-align: left;
  em { font-weight: bold; }
  &:before {
    content: "fig." counter(figures);
    font-weight: bold;
  }
}

[id^="fig"] {
  counter-increment: figures;
}

img {
  @include box-sizing(border-box);
  max-width: 100%;
  border: 1px solid;
  background: white;
}
