// ---------------------------------------------------------------------------
// Basic Typography

%type {
  p, ul, ol { @include trailer; }
  blockquote {
    font-style: italic;
    cite { font-style: normal; }
  }
  em, i { font-style: italic; }
  strong, b { font-weight: bold; }
}
