// ---------------------------------------------------------------------------
// Main Content

[role="main"] {
  counter-reset: figures main;

  figure {
    @include row;
    border: 1px dotted;
    margin: 0 0 1em 0;
    padding: 1.5em;
    background: color(lightest);
    text-align: center;
  }

  figcaption {
    margin-top: 1em;
    font-style: italic;
    text-align: left;
    counter-increment: figures;
    em { font-weight: bold; }
    &:before {
      content: "fig." counter(figures, decimal-leading-zero);
      font-weight: bold;
    }
  }

  img {
    @include box-sizing(border-box);
    max-width: 100%;
    border: 1px solid;
    background: white;
  }


  %hide-tab-content {
    opacity: 0;
  }
  %show-tab-content {
    opacity: 1;
    z-index: 100;
  }

  @include tabs(maintitle
                booktitle youtube church magic
                wordtitle bone
                definitiontitle maginot fan
                meaningtitle snail
                pentitle fountainpen
                obsoletetitle abacus
                sorrytitle lathe
                cloudtitle play farm
                architecturetitle handshake
                dancetitle dance dogs trans
                );

}

.slide {
  @include span(100% at 1 isolate no-gutters);
  position: relative;

  h2 {
    @include row;
    @include leading-border(9px,1);
    @include adjust-font-size-to($largepx);
    font-weight: bold;
    &:before {
      counter-increment: main;
      content: "Part " counter(main, decimal-leading-zero) " // ";
      font-weight: normal;
    }
  }

  img {
    max-height: 60vh;
  }
}

%button {
  @include adjust-font-size-to($medpx);
  @include border-radius(.25em);
  @include background-image(linear-gradient(to bottom, color(lightest,0), color(lightest,.25)));
  display: inline-block;
  padding: 0 rhythm(1);
  border: 1px solid;
  color: color(lighter);
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}

.slidenav {
  @include span(40% no-gutters);
  @include trailer(.5);

  [for] {
    @extend %button;
  }

  .prev, .next {
    &:focus, &:active {
      @include box-shadow($base 0 0 .25em inset);
      @include background-image(linear-gradient(to top, color(lightest,0), color(lightest,.25)));
    }
  }

  .prev {
    color: color($red darker);
  }
  .next {
    color: color($green);
  }
}

.narration-toggle {
  @extend %button;
  float: right;
  &:hover ~ .narration { display: block; }
}

.narration {
  @extend %type;
  @include rhythm-borders(1px,1);
  @include arrow(top rhythm(-1) .5em $base);
  display: none;
  position: absolute;
  top: rhythm(2);
  right: 0;
  width: 90%;
  background: white;
  z-index: 999;

  *:last-child { margin: 0; }
}
