// Content Info
// ============

.shhhhhhhh {
  @include font-size(larger);
  display: none;
  padding: size(larger);
  position: absolute;
  top: 0;
  z-index: 1000;
}

[for='wtf'] {
  @include font-size(smaller);
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: size(smallest);
  text-transform: uppercase;
  z-index: 1000;

  &:hover ~ .shhhhhhhh {
    display: block;
  }
}

[id="wtf"] {
  @include is-toggle {
    ~ .shhhhhhhh { display: block; }
  }
}
