// Slides
// ======

$slides:
  start
  maintitle
  booktitle youtube church magic
  wordtitle bone
  definitiontitle maginot fan
  meaningtitle snail
  pentitle fountainpen
  obsoletetitle abacus
  sorrytitle lathe
  cloudtitle play farm
  architecturetitle handshake
  ritualtitle dance dogs trans
;

@include keyframes(DOITDOIDOIT) {
  @for $i from 1 through 10 {
    #{$i * 10%} {
      background-position: percentage(random()) percentage(random());
    }
  }
}

.slide {
  @include stretch;
  @include transition(all 400ms);
  @include display-flex;
  @include justify-content(center);
  @include align-items(stretch);
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: size(normal);
  z-index: -1;
}

.the-shitz {
  @include background(no-repeat scroll center);
  @include background-size(contain);
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include flex(1);
  z-index: -1;

  figcaption {
    counter-increment: figures;
    font-style: italic;
    position: relative;
    z-index: 600;

    @include before("fig." counter(figures, decimal-leading-zero) " — ") {
      font-style: normal;
    }

    &:before, span {
      background: color(text);
      color: color(shadow);
      text-shadow: 0 0 size(smallest) color(text);

      a {
        #{$link} { color: color(action dark); }

        #{$focus} { color: color(focus dark); }
      }
    }
  }
}

.section-title {
  counter-increment: sections;

  @include before("part " counter(sections, decimal-leading-zero) ". ") {
    text-transform: uppercase;
  }
}


// Slidenav
// --------

.prev,
.next {
  @extend %button;
  @include font-size(large);
  @include transition(all 150ms 0, opacity 300ms 1s);
  cursor: pointer;
  opacity: 0;
  padding: 0 size(smallest);
  position: absolute;
  z-index: 900;

  #{$focus} {
    @include animation(DOITDOIDOIT 300ms steps(1) infinite);
    @include rotate(0);
    background-image: image-url('ui/doit-green.png');
    padding: size(large);
  }

  b { display: block; }
}

.prev {
  left: 0;

  #{$focus} {
    background-image: image-url('ui/doit.png');
  }
}

.next {
  right: 0;
}

.DOITDOIDOIT {
  @include animation(DOITDOIDOIT 300ms steps(1) infinite);
  background: rgba(color('shadow'), .125) image-url('ui/doit.png') scroll percentage(random()) percentage(random());
}


// Position
// --------

@each $slide in $slides {
  .#{$slide} {
    $x: random(200) * 1%;
    $x: if(random(3) == 1, 0 - $x, $x);
    $y: (random(200)) * 1%;
    $y: if(random(3) == 1, 0 - $y, $y);
    @include translate3d($x, $y, 0);

    .prev {
      border-radius: percentage(random());
      top: percentage(random(90)/100);

      #{$focus} {
        border-radius: percentage(random());
        padding: size(largest) * random() size(largest) * random() size(largest) * random() size(largest) * random();
      }
    }

    .next {
      border-radius: percentage(random());
      top: percentage(random(90)/100);

      #{$focus} {
        border-radius: percentage(random());
        padding: size(largest) * random() size(largest) * random() size(largest) * random() size(largest) * random();
      }
    }
  }

  [id='#{$slide}'] {
    @include is-toggle {
      ~ .#{$slide} {
        @include translate3d(0, 0, 0);
        opacity: 1;
        z-index: 500;

        .prev,
        .next {
          opacity: 1;
        }

        .prev {
          @include rotate(180deg * random() - 90deg);
        }

        .next {
          @include rotate(180deg * random() - 90deg);
        }
      }
    }
  }
}


// Main Title
// ----------

.maintitle {
  .the-shitz {
    @include justify-content(space-between);
  }

  p { font-style: italic; }
}

// Narration
// ---------

[for='narration-toggle'] {
  @include background-size(contain);
  @include replace-text('ui/ear.png');
  @include transition(opacity 200ms);
  background-position: center;
  bottom: 0;
  cursor: pointer;
  height: size(normal);
  left: 0;
  opacity: .5;
  position: absolute;
  width: size(normal);

  &:hover {
    opacity: 1;

    + .narration {
      display: block;
    }
  }
}

.narration {
  @include translate3d(-50%, -50%, 0);
  display: none;
  max-height: 80%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 600;

  span {
    background: color(stop);
  }
}

[id='narration-toggle'] {
  @include is-toggle {
    ~ [role='main'] .narration {
      display: block;
    }
  }
}
