// Slides
// ======

$slides:
  start
  maintitle
  booktitle youtube church magic
  wordtitle bone
  definitiontitle maginot fan
  meaningtitle snail
  pentitle fountainpen
  obsoletetitle abacus
  sorrytitle lathe
  cloudtitle play farm
  architecturetitle handshake
  ritualtitle dance dogs trans
;

@include keyframes(DOITDOIDOIT) {
  @for $i from 1 through 10 {
    #{$i * 10%} {
      background-position: percentage(random()) percentage(random());
    }
  }
}

.slide {
  @include stretch;
  @include transition(all 400ms);
  @include display-flex;
  @include justify-content(center);
  @include align-items(stretch);
  opacity: 0;
  overflow: auto;
  padding: size(normal);
  z-index: -1;
}

.the-shitz {
  @include background(no-repeat scroll center);
  @include background-size(contain);
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include flex(1);
  z-index: -1;

  figcaption {
    counter-increment: figures;
    font-style: italic;
    position: relative;
    z-index: 600;

    @include before("fig." counter(figures, decimal-leading-zero) " — ") {
      font-style: normal;
    }

    &:before, span {
      background: color(text);
      color: color(shadow);
      text-shadow: 0 0 size(smallest) color(text);

      a {
        #{$link} { color: color('blue'); }

        #{$focus} { color: color('red'); }
      }
    }
  }
}

.section-title {
  counter-increment: sections;

  @include before("part " counter(sections, decimal-leading-zero) ". ") {
    text-transform: uppercase;
  }
}

.prev,
.next {
  @include display-flex;
  @include align-items(center);
  @include font-size(large);
  @include stretch-y;
  cursor: pointer;
  padding: size(smaller);

  #{$focus} {
    padding: size(large);
  }

  b { display: block; }
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.DOITDOIDOIT {
  @include animation(DOITDOIDOIT 300ms steps(1) infinite);
  background: rgba(color('shadow'), .125) image-url('ui/doit.png') scroll percentage(random()) percentage(random());
}

@each $slide in $slides {
  .#{$slide} {
    $x: random(200) * 1%;
    $x: if(random(3) == 1, 0 - $x, $x);
    $y: (random(200)) * 1%;
    $y: if(random(3) == 1, 0 - $y, $y);
    @include translate3d($x, $y, 0);
  }

  [id='#{$slide}'] {
    @include is-toggle {
      ~ .#{$slide} {
        @include translate3d(0, 0, 0);
        opacity: 1;
        z-index: 500;
      }
    }
  }
}

.narration {
  @extend %is-hidden;
}

.maintitle {
  .the-shitz {
    @include justify-content(space-between);
  }

  p { font-style: italic; }
}
