// Sound And Fury
// ==============

.sound-and-fury {
  @include translate3d(-50%, -50%, 0);
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  z-index: -1;
}


// Instigate
// ---------

.instigate {
  @extend %button-reset;
  @include background(image-url('trans/no-book.png') scroll center);
  @include background-size(cover);
  @include stretch;
  text-transform: uppercase;
  width: 100%;
  z-index: 900;

  b {
    @extend %button;
    @include animation(DOITDOIDOIT 300ms steps(1) infinite);
    @include background(image-url('ui/doit.png') scroll percentage(random()) percentage(random()));
    @include background-size(300% auto);
    border: 2px solid color(border);
    cursor: pointer;
    padding: size(large);

    &:hover, &:focus {
      @extend %button-focus;
    }
  }

  &:active b {
    @extend %button-active;
  }

  @include breakpoint(40em) {
    @include font-size(large);
  }
}


// Red Green
// ---------

@include keyframes(hellooooooo) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.redgreen {
  @extend %button-reset;
  @extend %button;
  @include animation(
    DOITDOIDOIT 300ms steps(1) infinite,
    hellooooooo 300ms 1s 1 both);
  @include background(image-url('ui/doit.png') scroll percentage(random()) percentage(random()));
  @include background-size(300% auto);
  @include font-size(larger);
  @include translate3d(-50%, -50%, 0);
  border: 2px solid color(border);
  color: color(text);
  cursor: pointer;
  left: 50%;
  padding: size(large);
  position: absolute;
  text-shadow:
    0 1px 0 color(shadow),
    0 0 size(smallest)/2 color(shadow);
  top: 50%;

  &:hover, &:focus {
    @include animation-play-state(paused);
  }

  &.is-paused {
    @include animation-play-state(paused);
    background-image: image-url('ui/doit-green.png');
  }

  &.is-gone-forever {
    display: none;
  }
}
