// Colors
// ======

$base-colors: (
  'black': #000,
  'white': #fff,
  'gray': #666,

  'blue': hsl(195, 85%, 62%),
  'green': hsl(75, 100%, 50%),
  'red': hsl(0, 100%, 50%),
);


// Guide
// -----

$colors: (
  text: 'white',
  shadow: 'black',
  inset: 'black',
  back: 'blue' (shade: 65%),

  border: 'black',

  action: 'blue' (tint: 65%),
  focus: action (shade: 10%),

  action dark: 'blue' (shade: 5%),
  focus dark: action dark (shade: 15%),

  accent: 'red',

  go: 'green' (alpha: .25),
  stop: 'red' (alpha: .25),
);
