// Scale
// =====


// Base Size
// ---------
$base-font-size: 24px;


// Ratio
// -----
$ratio: major-third;


// Sizes
// -----
$sizes: (
  largest   : scale(6),
  larger    : scale(4),
  large     : scale(3),
  medium    : scale(1),
  normal    : scale(0),
  small     : scale(-.5),
  smaller   : scale(-2),
  smallest  : scale(-4),
);
