<footer role="contentinfo">
  <label for="wtf">??!?!</label>
  <input type="checkbox" id="wtf" />
  <div class="shhhhhhhh">
    <span>
      Creative Commons [cc] 2014
      <a href="http://eric.andmeyer.com/">Eric M Suzanne</a>.
      Thanks to <a href="http://www.michelleellsworth.com/">Michelle Ellsworth</a>,
      <a href="http://jrada.tumblr.com/">Julie Rada</a>,
      and <a href="http://www.myspace.com/widowsbane">The Widow's Bane</a>.
      <a href="https://github.com/ericam/post-obsolete">View the source on GitHub</a>.
    </span>
  </div>
</footer>
