{# Site Data
   ========= #}

{% set title = "The Obsolete Book in a Post-Obsolete World, as Represented by a Post-Obsolete Book About Dance." %}
{% set short_title = "Post-Obsolete Book" %}

{% set author = "Eric M. Suzanne" %}

{% set css = [
  "screen"
] %}

{% set js = [
  "jquery-2.1.1.min",
  "local",
] %}
