{# Slide Data
   ========== #}

{% set slides = [
  "start",
  "maintitle",
  "booktitle",
  "youtube",
  "church",
  "magic",
  "wordtitle",
  "bone",
  "definitiontitle",
  "maginot",
  "fan",
  "meaningtitle",
  "snail",
  "pentitle",
  "fountainpen",
  "obsoletetitle",
  "abacus",
  "sorrytitle",
  "lathe",
  "cloudtitle",
  "play",
  "farm",
  "architecturetitle",
  "handshake",
  "ritualtitle",
  "dance",
  "dogs",
  "trans",
] %}
