{% extends "base.j2" %}

{% import "_slides.data.j2" as data %}
{% import "_slides.macros.j2" as slides %}

{% block main %}

  {{ slides.toggles(data.slides) }}

  {% for name in data.slides %}
    {% include "slides/_%s.j2" % name %}
  {% endfor %}

{% endblock %}
