{% extends "base.j2" %}

{% import "_slides.data.j2" as data %}
{% import "_slides.macros.j2" as slides %}

{% block main %}
{{ slides.toggles(data.slides) }}

<!-- FRONT MATTER -->
{% include "slides/_start.j2" %}
{% include "slides/_maintitle.j2" %}

<!-- PART 01 -->
{% include "slides/_booktitle.j2" %}
{% include "slides/_youtube.j2" %}
{% include "slides/_church.j2" %}
{% include "slides/_magic.j2" %}

<!-- PART 02 -->
{% include "slides/_wordtitle.j2" %}
{% include "slides/_bone.j2" %}

<!-- PART 3 -->
{% include "slides/_definitiontitle.j2" %}
{% include "slides/_maginot.j2" %}
{% include "slides/_fan.j2" %}

<!-- PART 4 -->
{% include "slides/_meaningtitle.j2" %}
{% include "slides/_snail.j2" %}

<!-- PART 5 -->
{% include "slides/_pentitle.j2" %}
{% include "slides/_fountainpen.j2" %}

<!-- PART 6 -->
{% include "slides/_obsoletetitle.j2" %}
{% include "slides/_abacus.j2" %}

<!-- PART 7 -->
<section class="slide sorrytitle">
  <nav class="slidenav">
    <label for="abacus" class="prev"><b>«</b></label>
    <label for="lathe" class="next"><b>»</b></label>
  </nav>

  <h2 class="section-title">This is a Side Note (sorry (sorrysorry) sorry).</h2>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      The obsolescence of the pen
      doesn't stop me from carrying one in my pocket every day,
      everywhere I go,
      and using it on occasion to take notes
      on paper that I also carry with me.
    </span>
    </p>
    <p>
    <span>
      How many of you also have a pen?
      How many of you have paper?
      Does anyone have a pencil?
      Remember pencil sharpeners?
    </span>
    </p>
  </aside>
</section>

<section class="slide lathe">
  <nav class="slidenav">
    <label for="sorrytitle" class="prev"><b>«</b></label>
    <label for="cloudtitle" class="next"><b>»</b></label>
  </nav>

  <figure class="the-shitz" style="background-image: url(images/trans/lathe.png);">
    <img src="images/trans/lathe.png" alt="" class="is-gone-forever"/>
    <figcaption>
      <span>
        <span class="tooltip">
          a = bed,
          <span class="tooltip-text">
          <i>
            Andersen had heard the story as a child,
            and it likely has its source in folk material,
            possibly originating from Sweden as it is unknown
            in North Texas.
          </i>
          </span>
        </span>
        b = carriage (with cross-slide and toolpost),
        c = headstock,
        d = back gear
        <span class="tooltip">
          (other geartrain
          <span class="tooltip-text">
          <i>
            The longest-running first-run,
            nationally-syndicated program in American television history.
            Production was suspended following the 2005–06 season,
            with a rerun package airing for two years subsequently.
          </i>
          </span>
        </span>
        nearby below drives leadscrew),
        e = cone pulley for belt drive from an external power source,
        <span class="tooltip">
          f = faceplate
          <span class="tooltip-text">
          <i>
            Boym argues that nostalgia is most prevalent
            while listening to a mixtape of Dylan covers.
          </i>
          </span>
        </span>
        mounted on spindle,
        g = tailstock.
        h = leadscrew.
      </span>
    </figcaption>
  </figure>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      It's like obsolescence doesn't make a thing obsolete,
      it just helps narrow the scope of use cases.
      Once an object is "obsolete"
      I am free to use it or not use it,
      as I see fit,
      any time I want.
    </span>
    </p>
    <p>
    <span>
      We're off topic.
    </span>
    </p>
  </aside>
</section>

<!-- PART 8 -->
<section class="slide cloudtitle">
  <nav class="slidenav">
    <label for="lathe" class="prev"><b>«</b></label>
    <label for="play" class="next"><b>»</b></label>
  </nav>

  <h2 class="section-title">The Pen as Computer as Tablet as Cloud as Architecture.</h2>
</section>

<section class="slide play">
  <nav class="slidenav">
    <label for="cloudtitle" class="prev"><b>«</b></label>
    <label for="farm" class="next"><b>»</b></label>
  </nav>

  <figure class="the-shitz" style="background-image: url(images/trans/play.png);">
    <img src="images/trans/play.png" alt="" class="is-gone-forever"/>
    <figcaption>
      <span>
        In
        <span class="tooltip">
          meteorology,
          <span class="tooltip-text">
          <i>
            There is no proposed mechanism of action
            by which the motivations of film actors
            could affect people and events on Earth
            that does not contradict well understood basic aspects
            of good taste and the modernist aesthetic (see Bauhaus).
          </i>
          </span>
        </span>
        a cloud is a
        <span class="tooltip">
          visible mass of liquid droplets
          <span class="tooltip-text">
          <i>
            Berengar's position was never diametrically opposed
            to that of his critics,
            but the controversy that he aroused
            forced the Catholic church to clarify all the
            lyrics in several Hendrix favorites.
          </i>
          </span>
        </span>
        or frozen crystals made of water
        or various chemicals
        suspended in the atmosphere
        above the surface of a
        <span class="tooltip">
          planetary body.
          <span class="tooltip-text">
          <i>
            Mitchell was deeply influenced by
            an East German "slip of a girlyboy"
            and the poems of Anne Bradstreet.
          </i>
          </span>
        </span>
        These suspended particles are also known as aerosols.
      </span>
    </figcaption>
  </figure>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      The pen being (at best) post-obsolete,
      I'm replacing the pen with a Computer,
      which I've replaced with a tablet,
      and subsequently with "the cloud".
    </span>
    </p>
  </aside>
</section>

<section class="slide farm">
  <nav class="slidenav">
    <label for="play" class="prev"><b>«</b></label>
    <label for="architecturetitle" class="next"><b>»</b></label>
  </nav>

  <figure class="the-shitz" style="background-image: url(images/trans/farm.png);">
    <img src="images/trans/farm.png" alt="" class="is-gone-forever"/>
    <figcaption>
      <span>
        Old Major, the boar on the
        <span class="tooltip">
          Manor Farm,
          <span class="tooltip-text">
          <i>
            The Fertile Crescent of Western Asia
            first saw the domestication of animals,
            starting with the Neoliberal Revolution
            and free-market capitalism.
          </i>
          </span>
        </span>
        calls the animals for a
        <span class="tooltip">
          meeting,
          <span class="tooltip-text">
          <i>
            Pinochet’s 1973 coup emerges as some kind of a watershed.
            His style of "mixture chaos" and art nouveau
            has led to mixed reviews.
          </i>
          </span>
        </span>
        where he compares the humans to parasites
        and teaches the animals a revolutionary song,
        'All the Single Ladies'.
        You can
        <span class="tooltip">
          print this out
          <span class="tooltip-text">
          <i>
            For the album by Fear Factory, see
            <a href="http://en.wikipedia.org/wiki/Obsolete_(album)">Obsolete (album)</a>.
          </i>
          </span>
        </span>
        and color in the animals,
        if you like.
      </span>
    </figcaption>
  </figure>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      However,
      the cloud is simply a set of protocols
      for the networking of servers,
      which live on server farms,
      which are simply warehouses,
      which is a type of architecture.
    </span>
    </p>
  </aside>
</section>

<!-- PART 9 -->
<section class="slide architecturetitle">
  <nav class="slidenav">
    <label for="farm" class="prev"><b>«</b></label>
    <label for="handshake" class="next"><b>»</b></label>
  </nav>

  <h2 class="section-title">Architecture as Obsolete Book.</h2>
</section>

<section class="slide handshake">
  <nav class="slidenav">
    <label for="architecturetitle" class="prev"><b>«</b></label>
    <label for="ritualtitle" class="next"><b>»</b></label>
  </nav>

  <figure class="the-shitz" style="background-image: url(images/trans/handshake.png);">
    <img src="images/trans/handshake.png" alt="" class="is-gone-forever"/>
    <figcaption>
      <span>
        Who among us doesn't
        <span class-"tooltip">
          feel better
          <span class="tooltip-text">
          <i>
            The presence of a happy ending is one of the key points
            that distinguishes melodrama from massage.
          </i>
          </span>
        </span>
        when we have a great set of nails to show off?
        Do coat the outside of the nails with polish or ridge fillers,
        moisturize the cuticle area,
        <span class="tooltip">
          and wear gloves.
          <span class="tooltip-text">
          <i>
            Specific criticisms are now being accepted
            by some leaders of the forensic fingerprint community
            on behalf of this website,
            otherwise known as "Not My Problem".
          </i>
          </span>
        </span>
        Don't use your fingers as letter openers,
        or push the cuticle back too far.
      </span>
    </figcaption>
  </figure>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      Since we have architecture all around us,
      we can just use that for our ritual.
      Agreed?
      Good.
    </span>
    </p>
  </aside>
</section>

<!-- PART 10 -->
<section class="slide ritualtitle">
  <nav class="slidenav">
    <label for="handshake" class="prev"><b>«</b></label>
    <label for="dance" class="next"><b>»</b></label>
  </nav>

  <h2 class="section-title">A Ritual Dance in Memory of the Architectural Post-Book.</h2>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      I've prepared a ritual of transubstantiation
      around the architecture of this room:
      a dance about architecture,
      if you will.
    </span>
    </p>
    <p>
    <span>
      I don't know how to dance,
      but I do have a book called
      "How to Dance"
      and it has instructions for a Waltz.
    </span>
    </p>
  </aside>
</section>

<section class="slide dance">
  <nav class="slidenav">
    <label for="ritualtitle" class="prev"><b>«</b></label>
    <label for="dogs" class="next"><b>»</b></label>
  </nav>

  <figure class="the-shitz" style="background-image: url(images/trans/dance.png);">
    <img src="images/trans/dance.png" alt="" class="is-gone-forever"/>
    <figcaption>
      <span>
        Each
        <span class="tooltip">
          character (letter or numeral)
          <span class="tooltip-text">
          <i>
            The magical realist style and thematic substance of Mean Girls
            established it as an important, representative novel
            of the literary Latin American Boom of the 1960s and 1970s.
          </i>
          </span>
        </span>
        is represented by a unique sequence of dots and dashes.
        The duration of a dash is three times the duration of a dot.
        Each dot or dash is followed by a short silence,
        equal to the dot duration.
        <span class="tooltip">
          The letters of a word
          <span class="tooltip-text">
          <i>
            The Price Is Right features a pricing game called
            "Das Capital"
            which is played for a car.
            The object of the game is to spell "car".
          </i>
          </span>
        </span>
        are separated by a space equal to three dots (one dash),
        and two words are separated by a space equal to seven dots.
        The dot duration is the basic unit of time measurement in code transmission.
      </span>
    </figcaption>
  </figure>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      The Waltz is a simple 3/4 Beat.
    </span>
    </p>
    <p>
    <span>
      Da-Da-Dot, Da-Da-Dot, Da-Da-Dot.  <br />
      Da-Da-Dot, Da-Da-Dot, Da-Da-Dot.
    </span>
    </p>
    <p>
    <span>
      Please take a moment
      to find a partner for the dance.
      A mate who you can copulate with later,
      with whom you will live
      and sire offspring,
      settling on the edge of town
      with a tortoise and basketball hoop
      till death do you part.
    </span>
    </p>
  </aside>
</section>

<section class="slide dogs">
  <nav class="slidenav">
    <label for="dance" class="prev"><b>«</b></label>
    <label for="trans" class="next"><b>»</b></label>
  </nav>

  <figure class="the-shitz" style="background-image: url(images/trans/dogs.png);">
    <img src="images/trans/dogs.png" alt="" class="is-gone-forever"/>
    <figcaption>
      <span>
        I have more pictures
        <a href="http://images.lmgtfy.com/?q=mating+diagram" target="_blank">like this</a>.
        Some of them
        <span class="tooltip">
          involve people.
          <span class="tooltip-text">
          <i>
            For the Jazz album by Tadd Dameron and John Coltrane, see
            <a href="http://en.wikipedia.org/wiki/Mating_Call">Mating Call</a>.
          </i>
          </span>
        </span>
        The Internet is a beautiful and strange land.
      </span>
    </figcaption>
  </figure>

  <button class="redgreen">
    <span class="is-hidden">Pause/Play</span>
  </button>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      Take your time.
      Pause the tape, if needed.
      I can wait.
    </span>
    </p>
    <p>
    <span>
      Remember:
      Da-Da-Dot, Da-Da-Dot, Da-Da-Dot.
      Da-Da-Dot, Da-Da-Dot, Da-Da-Dot.
    </span>
    </p>
    <p>
    <span>
      That's morse code for "oooooooo",
      the sound you should make during ritual dances
      inside obsolete book avatar architectures,
      made post-obsolete by their use in rituals
      memorializing the death of books.
    </span>
    </p>
    <p>
    <span>
      Say "oooooooo", while you dance.
    </span>
    </p>
    <p>
    <span>
      You could also go faster:
      Di-Di-Dit Di-Di-Dit Di-Di-Dit
      or "ssssssss"
      like the snake of online publishing.
    </span>
    </p>
    <p>
    <span>
      Or combine the two
      (fast, slow, fast):
      Di-Di-Dit Da-Da-Dot Di-Di-Dit
      sssssssss ooooooooo sssssssss
      an SOS cry for help,
      as the book dies a slow,
      painful, and hideous death.
    </span>
    </p>
    <p>
    <span>
      You keep dancing,
      and I will read a memorial
      poem in the dead form of a sonnet
      by a dead man.
    </span>
    </p>
    <blockquote>
      <p>
      <span>
        Death, be not proud, though some have called thee
        Mighty and dreadful, for thou art not so;
        For those whom thou think'st thou dost over throw
        Die not, blah blah blah.
        And dost with poison, war and sickness dwell!
        And so on...
        ...death shall be no more. <b>Death thou shalt die</b>.
      </span>
      </p>
      <cite><span>— John Donne</span></cite>
    </blockquote>
    <p>
    <span>
      Now turn and face the shrine.
    </span>
    </p>
  </aside>
</section>

<section class="slide trans">
  <nav class="slidenav">
    <label for="dogs" class="prev"><b>«</b></label>
  </nav>

  <figure class="the-shitz" style="background-image: url(images/trans/trans.png);">
    <img src="images/trans/trans.png" alt="" class="is-gone-forever"/>
    <figcaption>
      <span>
        The chalice is a euphemism,
        covered in
        <span class="tooltip">
          transparent cloth
          <span class="tooltip-text">
          <i>
            This article is about clothing.
            For other uses, see
            <a href="http://en.wikipedia.org/wiki/Fishnet_(disambiguation)">Fishnet (disambiguation)</a>.
          </i>
          </span>
        </span>
        for increased mystery and sex appeal.
        Beneath the veil,
        an orgy of pleasure
        <span class="tooltip">
          awaits the faithful,
          <span class="tooltip-text">
          <i>
            The state of affairs regarded as godly or righteous
            often involves fondling or unspecified platonic anal tickling.
          </i>
          </span>
        </span>
        the patient,
        and the
        <span class="tooltip">
          very rich.
          <span class="tooltip-text">
          <i>
            "Academic" redirects here.
            For the style of painting, see
            <a href="http://en.wikipedia.org/wiki/Academic_art">Academic art</a>.
          </i>
          </span>
        </span>
      </span>
    </figcaption>
  </figure>

  <label for="narration-toggle">transcript</label>
  <aside class="narration">
    <p>
    <span>
      Speaking together: "Rhizome".         <br />
      And again: "Rhizome"                  <br />
      Place your hand over your heart
      and repeat after me:
    </span>
    </p>
    <p>
    <span>
      "Through the power of transubstantiation..."                  <br />
      "(Domine Dei)..."                                             <br />
      "We declare this room to be an obsolete book."
    </span>
    </p>
    <p>
    <span>
      Thank you, and thank you again.
      May the book live
      unread in your heart
      for eternity and so on, amen.
    </span>
    </p>
    <p>
    <span>
      Go, drink and be merry,
      our work here is done.
    </span>
    </p>
  </aside>
</section>
{% endblock %}

