// Content Info
// ============

.shhhhhhhh {
  @include font-size(larger);
  display: none;
  padding: size(larger);
  position: absolute;
  top: 0;
  z-index: 1000;

  span {
    background: color(shadow);
  }
}

[for='wtf'] {
  @include font-size(smaller);
  @include transition(opacity 200ms);
  bottom: 0;
  cursor: pointer;
  opacity: .5;
  position: absolute;
  right: size(smallest);
  text-transform: uppercase;
  z-index: 1000;

  &:hover {
    opacity: 1;

    ~ .shhhhhhhh {
      display: block;
    }
  }
}

[id="wtf"] {
  @include is-toggle {
    ~ .shhhhhhhh { display: block; }
  }
}
